{# TODO: Whole homepage view #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="homepage-container">
        <div>
            <h1 class="homepage-header">{{ 'homepage.header'|trans }}</h1>
            <p>{{ 'homepage.text'|trans }}</p>
        </div>
        <div>
        </div>
    </div>
{% endblock %}
